@font-face {
  font-family: "iAQuattro";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./iAWriterQuattroS-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "iAQuattro";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("./iAWriterQuattroS-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "iAQuattro";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("./iAWriterQuattroS-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "iAQuattro";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("./iAWriterQuattroS-BoldItalic.woff2") format("woff2");
}
