/* responsive. -------------------------------------------------------------- */
* {
  box-sizing: border-box;
  --green2: #228b22;
  --green1: #009e49ff;
  --blue: #0070b0;
}

.wrapper {
  max-width: 800px;
  margin: auto;
  padding: 0 15px;
}

/* responsive. -------------------------------------------------------------- */

html {
  color: #3c3836;
  background-color: rgb(245, 245, 235);
  font-family: iAQuattro, sans-serif;
  font-weight: normal;
  font-optical-sizing: auto;
}

body {
  padding-top: 15px;
  font-size: 16px;
}

p {
  margin-bottom: 1em;
}

/* index page. -------------------------------------------------------------- */

/* top container */
.logo-grid {
  display: grid;
  margin: 0px;
  padding: 0px;
}

/* items */
.item-logo {
  grid-area: logo;
  display: flex;
}

.item-info {
  grid-area: info;
  font-size: 12px;
}

.item-desc {
  grid-area: desc;
}

.item-links {
  grid-area: links;
}
.item-links a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .logo-grid {
    grid-template-areas:
      "logo"
      "info"
      "desc"
      "links";
  }
}

@media (min-width: 768px) {
  .logo-grid {
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-areas:
      "logo info"
      "logo desc"
      "logo links";
  }
  .item-logo {
    margin-right: 20px;
  }
}

.logo {
  width: 90%;
  height: auto;
}

@media (max-width: 768px) {
  .logo {
    /* float: none; */
    /* display: flex; */
    /* margin: auto; */
    width: 80%;
  }
}

.icon {
  margin-right: 5px;
}

/* news section */

.news p {
  margin-bottom: 1rem;
}

.news a {
  font-weight: bold;
}

.news h2 {
  font-size: 20px;
  margin-bottom: 1px;
}

.news hr {
  margin-top: 2em;
  margin-left: 0px;
  width: 50%;
  height: 1px;
  border: none;
  background-color: #000;
}

.news-item {
  margin-bottom: 2.5em;
}

/* about. ------------------------------------------------------------------- */

.float-right {
  float: inline-end;
  shape-outside: url("/svgs/litter_cycle.svg");
  width: 50%;
  margin-right: 0px;
  shape-margin: 3rem;
  margin-left: 3rem;
}

@media (max-width: 768px) {
  .float-right {
    float: none;
    display: flex;
    margin: auto;
    width: min(90%, 400px);
  }
}

.float-left {
  shape-outside: url("/svgs/vario.svg");
  float: inline-start;
  width: 50%;
  shape-margin: 3rem;
  margin-right: 3rem;
  margin-left: 0px;
}

@media (max-width: 768px) {
  .float-left {
    float: none;
    display: flex;
    margin: auto;
    width: min(90%, 300px);
    justify: center;
  }
}

.float-p {
  text-wrap: pretty;
  hyphens: auto;
}

/* -------------------------------------------------------------------------- */

/* funding. ----------------------------------------------------------------- */

.avina {
  height: 5rem;
  margin-left: 0px;
}
#avina {
  margin-top: 2em;
  margin-bottom: 5em;
}

.fwf {
  height: 5rem;
  margin-left: 0px;
}

/* -------------------------------------------------------------------------- */

.logo-big-green {
  font-size: 20px;
  font-weight: bold;
  color: var(--green2);
}

.small-text {
  font-size: 0.95rem;
}

.small-text-index {
  color: #444;
}

.medium-text {
  font-size: 1.2rem;
}

.big-green {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--green2);
}

.site-title {
  font-size: 1.5rem;
  display: flex;
}

.block {
  /* border: 1px dotted white; */
  padding: 0px 15px;
  margin: 0 10px;
  text-align: left;
}

.block h1 {
  font-size: 1em;
  text-align: left;
  margin-bottom: 0;
}

.pics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 10px;
}

.underline {
  text-decoration: underline;
}

.blog-date {
  color: #999;
}

/* -------------------------------------------------------------------------- */
/* styling. ----------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5 {
  color: #282828;
}

b,
strong {
  color: #000000;
}

a {
  color: var(--green2);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 22px;
  font-weight: 800;
  margin-top: 12px;
  color: #999;
}

@media (max-width: 768px) {
  nav {
    font-size: calc(14px + 1vw);
  }
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}

figure {
  padding: 0px;
  margin: auto;
}

hr {
  height: 3px;
  border: none;
  background-color: #000;
}
