/* responsive. -------------------------------------------------------------- */
:root {
  box-sizing: border-box;
}

.wrapper {
  max-width: 800px;
  margin: auto;
  padding: 0 15px;
}

html {
  color: #3c3836;
  background-color: rgb(245, 245, 235);
  font-size: 15px;
  font-family: iAQuattro, sans-serif;
  font-weight: normal;
  font-optical-sizing: auto;
}

body {
  padding-top: 15px;
  font-size: 1.15rem;
}

p {
  margin-bottom: 1em;
  line-height: 1.6em;
}

/* index page. -------------------------------------------------------------- */
/* container */
.logo-grid {
  display: grid;
  margin: 0px;
  padding: 0px;
  grid-auto-columns: auto auto;
  grid-auto-rows: auto auto auto;
}
.logo-grid p {
  line-height: 1em;
}
.logo-big-blue {
  line-height: 1.2em;
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(0, 112, 176);
}

/* items */
.item-logo {
  display: flex;
  justify-content: left;
  margin-right: 2vw;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
.item-right-1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 1.1rem;
}
.item-right-2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.item-right-3 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.item-right-3 a {
  text-decoration: none;
}
.logo {
  width: min(45vw, 350px);
  height: auto;
}
.icon {
  /* vertical-align: middle; */
  /* align-self: start; */
  margin-right: 5px;
}

.news p {
  margin-bottom: 1rem;
  line-height: 1.2em;
}

.news h2 {
  font-size: 1.2rem;
  line-height: 0px;
}

.news hr {
  margin-top: 2em;
  margin-left: 0px;
  width: 50%;
  height: 1px;
  border: none;
  background-color: #000;
}

.news-item {
  margin-bottom: 2.5em;
}

/* about. ------------------------------------------------------------------- */

.float-right {
  float: inline-end;
  shape-outside: url("/svgs/litter_cycle.svg");
  height: 19rem;
  margin-right: 0px;
  shape-margin: 3rem;
  margin-left: 3rem;
}

.float-left {
  shape-outside: url("/svgs/vario.svg");
  float: inline-start;
  height: 19rem;
  shape-margin: 3rem;
  margin-right: 3rem;
  margin-left: 0px;
}

.float-p {
  text-wrap: pretty !important;
  hyphens: auto !important;
}

/* -------------------------------------------------------------------------- */

/* funding. ----------------------------------------------------------------- */

.avina {
  height: 5rem;
  margin-left: 0px;
}
#avina {
  margin-top: 2em;
  margin-bottom: 5em;
}

.fwf {
  height: 5rem;
  margin-left: 0px;
}

/* -------------------------------------------------------------------------- */

.small-text {
  font-size: 0.95rem;
}

.small-text-index {
  line-height: 1em;
  font-size: 0.85rem;
  color: #444;
}

.medium-text {
  font-size: 1.2rem;
}

.big-blue {
  font-size: 1.6rem;
  font-weight: bold;
  color: #2563eb;
}

.site-title {
  font-size: 1.5rem;
  display: flex;
}

.block {
  /* border: 1px dotted white; */
  padding: 0px 15px;
  margin: 0 10px;
  text-align: left;
}

.block h1 {
  font-size: 1em;
  text-align: left;
  margin-bottom: 0;
}

.pics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 1rem;
}

.underline {
  text-decoration: underline;
}

.blog-date {
  font-size: 0.9rem;
  color: #999;
}

/* -------------------------------------------------------------------------- */
/* styling. ----------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5 {
  color: #282828;
}

b,
strong {
  color: #000000;
}

a {
  color: #0070b0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 12px;
}

nav a {
  text-decoration: none;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}

figure {
  padding: 0px;
  margin: auto;
}

hr {
  height: 3px;
  border: none;
  background-color: #000;
}
