/* responsive. -------------------------------------------------------------- */
* {
  box-sizing: border-box;
  --green2: #228b22;
  --green1: #009e49ff;
  --blue: #0070b0;
  --black: #282828;
}

.wrapper {
  max-width: 650px;
  margin: auto;
  padding: 15px;
}

html {
  color: #3c3836;
  background-color: rgb(245, 245, 235);
  font-family: interVariable, iAQuattro, sans-serif;
  font-weight: normal;
  font-optical-sizing: auto;
}

body {
  font-size: 16px;
}

p {
  margin-bottom: 1em;
  line-height: 1.5;
}

/* index page. -------------------------------------------------------------- */

.logo-area {
  width: 100%;
  margin-bottom: 30px;

  & .below-heading {
    & .logo {
      float: right;
      width: min(100%, 325px);
      height: auto;
      shape-outside: url("svgs/logo_green.svg");
      shape-margin: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    & .logo-icons {
      & .icon {
        width: 36px;
        margin-right: 5px;
      }

      & a:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .logo {
    float: none;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* news section */

.news p {
  margin-bottom: 1rem;
}

.news a {
  font-weight: bold;
}

.news h2 {
  font-size: 20px;
  margin-bottom: 1px;
}

.news hr {
  margin-top: 2em;
  margin-left: 0px;
  width: 50%;
  height: 1px;
  border: none;
  background-color: #000;
}

.news-item {
  margin-bottom: 2.5em;
}

/* about. ------------------------------------------------------------------- */

.float-right {
  float: inline-end;
  shape-outside: url("/svgs/litter_cycle.svg");
  width: 50%;
  margin-right: 0px;
  shape-margin: 3rem;
  margin-left: 3rem;
}

.float-left {
  shape-outside: url("/svgs/vario.svg");
  float: inline-start;
  width: 50%;
  shape-margin: 3rem;
  margin-right: 3rem;
  margin-left: 0px;
}

@media (max-width: 500px) {
  .float-right {
    float: none;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: min(90%, 400px);
  }

  .float-left {
    float: none;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: min(90%, 300px);
    justify: center;
  }
}

.float-p {
  text-wrap: pretty;
  hyphens: auto;
}

/* -------------------------------------------------------------------------- */

/* funding. ----------------------------------------------------------------- */

.avina {
  height: 5rem;
  margin-left: 0px;
}
#avina {
  margin-top: 2em;
  margin-bottom: 5em;
}

.fwf {
  height: 5rem;
  margin-left: 0px;
}

/* -------------------------------------------------------------------------- */

.logo-big-green {
  font-size: 20px;
  font-weight: bold;
  color: var(--green2);
}

.small-text {
  font-size: 0.95rem;
}

.small-text-index {
  color: #444;
}

.medium-text {
  font-size: 1.2rem;
}

.big-green {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--green2);
}

.site-title {
  font-size: 1.5rem;
  display: flex;
}

.block {
  /* border: 1px dotted white; */
  padding: 0px 15px;
  margin: 0 10px;
  text-align: left;
}

.block h1 {
  font-size: 1em;
  text-align: left;
  margin-bottom: 0;
}

.pics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 10px;
}

.underline {
  text-decoration: underline;
}

.blog-date {
  color: #999;
}

/* -------------------------------------------------------------------------- */
/* styling. ----------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5 {
  color: #282828;
}

b,
strong {
  color: #000000;
}

a {
  color: var(--green2);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 40px;
  & a {
    color: var(--black);
  }
  /* border-bottom-width: 1px; */
  /* border-bottom-style: solid; */
  /* border-bottom-color: #999; */
}

.nav ol {
  font-family: iAQuattro;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.nav-item {
  display: inline-block;
  margin-right: 5px;
}

.nav-last {
  inherit: nav-item;
  display: inline-block;
}

@media (max-width: 500px) {
  .nav ol {
    /* font-size: calc(11px + 1vw); */
    text-align: left;
  }
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}

figure {
  padding: 0px;
  margin: auto;
}

hr {
  height: 3px;
  border: none;
  background-color: #000;
}
